<ion-header>
  <ion-toolbar color="medium">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/episodes"></ion-back-button>
    </ion-buttons>

    <ion-title> {{ episode?.title }}</ion-title>

    <ion-buttons slot="end">

      <ion-button (click)="unfavoriteepisode()" *ngIf="isFavorite">
        <ion-icon name="star" slot="icon-only"></ion-icon>
      </ion-button>

      <ion-button (click)="favoriteepisode()" *ngIf="!isFavorite">
        <ion-icon name="star-outline" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>

</ion-header>


<ion-content>

  <ion-card *ngIf="episode">

    <ion-card-content>
      <ion-list lines="none">
         <ion-item>
          Season: {{ episode.season }} <br>
          Episode Number: {{ episode.episode }}
        </ion-item>

        <ion-item>
          Episode Title: {{ episode.title }}
        </ion-item>

        <ion-item>
          Date on Air: {{ episode.air_date }}
        </ion-item>

        <ion-item>
          Characters: {{ episode.characters }}
        </ion-item>

      </ion-list>
    </ion-card-content>

  </ion-card>

</ion-content>