<ion-header>
  <ion-toolbar color="medium">
    <ion-title>Quotes</ion-title>
    <!-- <ion-progress-bar value="0.25" buffer="0.8"></ion-progress-bar>
		<ion-progress-bar type="indeterminate"></ion-progress-bar>
		<ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar> -->
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-searchbar [(ngModel)]="input" (ionChange)="search($event)" placeholder="Search Quote by Character">
	</ion-searchbar>

	<ion-list>
		<ion-item button detail lines="inset" *ngFor="let quote of quotes | async" (click)="openDetails(quote)">
			{{ quote.quote }}
		</ion-item>
	</ion-list>
</ion-content>
