ion-card {
    border-left: 3px solid rgb(40, 44, 174)
   }

.img img {
    max-height:175px;
    height: auto;
    margin:1% ;
    border-radius: 15%;
    box-shadow: 0 0 10px rgb(40, 44, 174);
   
}